.setupForm {
  box-sizing: border-box;
  /* width: 66%; */
  /* max-width: 100%; */
  padding: 1.5% 0;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.formHeading {
  color: white;
  margin: 0 0 15px 0;
  max-width: 100%;
  padding: 15px 20px;
  background-color: #034c8c;
  border-radius: 4px;
  box-shadow: 0 4px 2px rgba(3, 75, 114, 0.4);
}

.inner {
  width: 90%;
  /* margin: 0 7.5%;
  padding: 0 7.5% 5.5%;
  border: 1px solid black;
  border-radius: 6px; */
}

.inner textarea {
  height: 10.5rem;
  width: 100%;
  max-width: 100%;
}

#wrapper {
  display: flex;
}

#left {
  flex: 0 0 45%;
  background-image: url('https://images.unsplash.com/photo-1486746290722-483e8f1e44d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1501&q=80');
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 4px;
  opacity: 0.9;
  background-color: #034c8c;
}

#right {
  flex: 1;
  margin-left: 10%;
  margin-bottom: 2.5%;
  color: #444;
}
