.setupForm {
  box-sizing: border-box;
  width: 50%;
  max-width: 100%;
  padding: 0;
  margin: 0 auto 20px;
  background-color: #f2f2f2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.formHeading {
  margin: 0;
  max-width: 100%;
  padding: 15px 20px;
  background-color: #05aff2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.inner {
  margin: auto;
  width: 85%;
  padding: 15px 0;
}
