.sideBar {
  /* margin-left: 15px; */
  padding: 15px;
  border-right: 1px solid #888;
  box-shadow: 5px 0px 6px -4px rgb(0, 0, 0, 0.4);
}

.calBar {
  background-color: #bdc3c49f;
}

.calBar2 {
  padding: 6%;
}

.itemToday {
  margin-top: 100px;
  border: none;
  border-radius: 6px;
  background-color: #9de3ff;
  padding: 15px;
}

.itemToday:hover {
  border: 1px solid;
  border-color: #d96055;
}

.keyBadge {
  border: none;
  border-radius: 4px;
  background: linear-gradient(to top, #05aff2, #9de3ff);
  box-shadow: 1px 6px 3px rgb(0, 0, 0, 0.2);
}
