#wrapper {
  display: flex;
}

#left {
  flex: 0 0 45%;
  background-image: url('https://images.unsplash.com/photo-1545552663-0eb050bb04c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80');
  background-size: cover;
  opacity: 0.9;
  background-color: #034c8c;
}

#right {
  flex: 1;
  margin-left: 10%;
}
