.headingBox {
  box-sizing: border-box;
  padding: 1.5% 2.5% 3%;
  margin: -2px auto;
  background-color: #ffffff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /* border-bottom: 1px solid #888; */
}

.innerConfirm {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-bottom: 1.5%;
}

.innerConfirm > ul,
li {
  list-style-type: none;
  padding: 0;
}
