body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  /* background-image: linear-gradient(to top, #05c7f2 75%, #d96055),
    url('https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');

  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  height: 100%;

  min-height: calc(100vh);
  /* background-color: #05c7f2; */
  /* background: linear-gradient(
    135deg,
    #3071aadd,
    #8fb2d0dd 66%,
    #df8279dd 98%,
    #d96055
  ); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%; */
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

.formPanel {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 0 0 25px 0;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.login-input {
  height: 1.5rem;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.log-in,
.log-out,
.register {
  background-color: #a1bcd300;
  border: 1px solid #d96055;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  color: black;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #d96055;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: black;
  border: none;
  padding: 15px 0 0 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}

.innerForm {
  margin: auto;
  width: 80%;
}

.innerForm > * {
  margin: 2.5% 0;
}

.inputSchedule {
  width: 95%;
  min-height: 40px;
  padding: 5px 5px;
  max-width: 100%;
  font-size: 1.1rem;
  border: none;
  border: 1px solid white;
  border-bottom: 1px solid #d96055;
  border-radius: 4px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

.inputText {
  width: 100%;
  min-height: 40px;
  padding: 5px 5px;
  max-width: 98%;
  font-size: 1.1rem;
  border: none;
  border: 1px solid white;
  border-bottom: 1px solid #d96055;
  border-radius: 4px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
  height: 138px;
}

.inputSchedule:hover,
.inputText:hover {
  border: 1px solid #d96055;
}

.inputSchedule:focus,
.inputText:focus {
  outline: none;
  border: 1px solid #d96055;
  box-shadow: 1px 8px 6px rgba(0, 0, 0, 0.139);
}
