body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: #ffffff89;
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

.formPanel {
  text-align: center;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto;
  background-color: #05aff2;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.login-input {
  height: 1.5rem;
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.log-in,
.log-out,
.register {
  background-color: #a1bcd300;
  border: 1px solid #d96055;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px;
  color: black;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #d96055;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}
