.profile {
  background: linear-gradient(to top, white 50%, #05c7f2 50%);
  border-radius: 4px;
}

.profileInfo {
  background-color: #f2f2f2;
  border-radius: 6px;
  padding: 6%;
  margin: 3%;
}

.innerUser {
  /* margin: auto;
  width: 50%; */
  padding: 0 10% 6%;
}

.infoBadge {
  border: none;
  border-radius: 4px;
  background: linear-gradient(to top, #05c7f2, #9de3ff);
  box-shadow: 1px 6px 3px rgb(0, 0, 0, 0.2);
}
